<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name = "Suite">
    <parameter name="connectedTests" value="true"/>
    <parameter name="fileSize" value = "2"/>
    <parameter name="address" value=""/>
    <parameter name="hashMD5" value=""/>
    <parameter name="providedAddress" value=""/>
    <parameter name="dummyFilePath" value=""/>
    <parameter name="downloadNumber" value="3"/>
    <parameter name="timeLimit" value="5"/>
    <test name = "UploadTest" enabled="true">
        <classes>
            <class name = "FileUploadTest">
                <methods>
                    <exclude name="uploadAboveMbLimit" />
                </methods>
            </class>
        </classes>
    </test>
    <test name="DownloadTest" enabled="true">
        <classes>
            <class name="FileDownloadTest">
                <methods>
                    <!-- <exclude name="multipleDownloadsExactLimit"/> -->
                    <include name="singleDownload" />
                </methods>
            </class>
        </classes>
    </test>
    <parameter name="filepath" value="cele.png"/>
    <test name="CheckSum Generator" enabled="false">
        <classes>
            <class name="Util.TestFile">
            </class>
        </classes>
    </test>
</suite>